

h2{
    color: white; 
    font-weight: bold;  
    background-color: black;
    width: 30%;
    text-align: center;
}


p{
    color: black;
    font-size: 10px;

}


.Layout{
    color: black;
    font-size: 10px;

}