header.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

h2 {
  color: white;
  font-weight: bold;
  background-color: black;
  text-align: center;
  padding: 10px;
}

h1 {
  font-weight: bold;
  margin-bottom: 5px;
}

h3 {
  margin: 2% 5%;
  text-align: right;
}

/* Modal styling */
/* .modal {
  text-align:center;
}
.modal-dialog {
  display: inline-block;
  width: auto;
}
.img-responsive {
  max-height: calc(100vh - 225px);
}

.modal-title{
  font-size: 1.5em;
  font-weight: bold;
}

.modal-description{
  padding-top:10px;
} */

/* Icon Label styling */
.iconLabel {
  background-color: black;
  margin-bottom: 20px;
}
.iconLabel img {
  float: right;
  vertical-align: middle; /* This doesn't do anything yet*/
}

.btn-secondary {
  width: 100%;
  font-size: 35px;
  background-color: black;
  font-weight: bold;
}

.popover {
  max-width: 30%; /* Max Width of the popover (depending on the container!) */
}

.dropdown-menu {
  /* background-image: url("static/css/icon.png"); */
  /* content: '\f05a';
  font-family: "Font Awesome 5 Free"; */
  font-size: 10px;
  color: #fff;
  display: inline-block;
  width: 30%;
}

/* Slider styling */
.slider {
  margin-bottom: 10%;
}

/* Slider text styling */
#right {
  float: right;
}
#left {
  float: left;
}

/* Card Styling */

.background-image {
  width: 90%;
  height: 80%;
  padding: 20% 10%;
}

.item-image {
  width: 100px;
  height: 100px;
  padding: 10px 10px;
}

.item-title {
  font-size: 1.5em;
  font-weight: bold;
}

.item-description {
  padding-top: 10px;
}

.flex-item {
  margin-left: 16px;
  flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 1;
}

.flex-container {
  display: flex;
}

.flex-sort {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
}

.flex-card {
  background: #d3d3d3;
  padding: 10px;
  width: 300px;
  height: 400px;
  margin: 10px;
  color: white;
  text-align: center;
  perspective: 1000px;
}

.flex-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  padding: 10px;
}

.flex-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.flex-card:hover {
  z-index: 5;
}
.flex-card:hover .flex-card-inner {
  transform: rotateY(180deg);
}
/* 
.flex-card:active .flex-card-expand{
  transform: scale(2); 

}  */

.flex-card-front,
.flex-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flex-card-front {
  background-color: #bbb;
  color: black;
}

.flex-card-back {
  background-color: #ffff;
  color: black;
  transform: rotateY(180deg);
  padding: 30px 30px;
}

.flex-card-expand {
  background-color: white;
  color: black;
  /* transform: scale(2); */
  padding: 30px 30px;
  display: none;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.template {
  display: none;
}

/* If flex button is pushed */
.button-expand {
  width: auto;
  height: auto;
  background-color: black;
  color: white;
}

/* Slider Styling */

input[type="range"] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #6b6b6b;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #6b6b6b;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #6b6b6b;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #6b6b6b;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #6b6b6b;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #000000;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #6b6b6b;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #6b6b6b;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #6b6b6b;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #6b6b6b;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #6b6b6b;
}
