h2{
    color: white; 
    font-weight: bold;  
    background-color: black;
    text-align: center;

}

h1{
  font-weight: bold;
}


p{
    color: black;
    font-size: 10px;

}

/* Icon Label styling */
.iconLabel { position: relative; }
.iconLabel  img { position: absolute; bottom: 8px; right: 8px }

/* Card Styling */
.sideBar{
  width: 30%;
  display:flex-start;
}

.content{
  width: 70%;
}

.flex-item{
  margin-left: 16px;
  /* flex-basis: 0; */
  flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 1;
  
}

.flex-container{
  display: flex;
}

.flex-sort{
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-card {
  background:#D3D3D3;
  padding: 5px;
  width: 200px;
  height: 250px;
  /* margin-top: 10px; */
  margin:10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

/* Dropdown Styling */
.dropdown-menu{
  width: 30%;
}

/* .grid-item { 
  width: 25%;
  background-color: blue;
 } */
 .grid {
  border: 1px solid #333;
}


/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}


 .grid-item {
  position: relative;
  float: left;
  width: 25%;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #D3D3D3;
  color: white;
  font-size: 50px;
}
.grid-item--width2 { width: 50%; }



/* Slider Styling */

input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #6b6b6b;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #6b6b6b;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #6b6b6b;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #6b6b6b;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #6b6b6b;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #000000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #6b6b6b;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #6b6b6b;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #6b6b6b;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #6b6b6b;
}
input[type=range]:focus::-ms-fill-upper {
  background: #6b6b6b;
}


