html {
  --scrollbarBG: #eee;
  --thumbBG: #aaa;
  overflow: hidden;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100vh;
}
body.hide-overflow {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
  box-shadow: 0 0 5px rgba(0,0,0,0.15) inset;
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 2px solid var(--scrollbarBG);
}
::-webkit-scrollbar-thumb:hover {
  border-width: 1px;
}

header.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
nav {
  position: fixed;
  top:1rem;
  right:1rem;
}
nav a, nav a.nav-link {
  display:inline;
  color:black;
  text-decoration: none;
  transition: 250ms all;
  font-weight: bold;
}
nav a:hover, nav a.nav-link:hover {
  text-decoration: none;
  color: #F6A4B7;
}

.sideBar {
  position: relative;
  margin-top:10px;
}
.sideBar header h1 {
  padding-bottom:20px;
}
h2 {
  color: white;
  font-weight: bold;
  background-color: black;
  text-align: center;
  padding: 10px;
}

h1 {
  font-weight: bold;
  margin-bottom: 5px;
}

h3 {
  margin: 2% 5%;
  text-align: right;
}

p{
  font-size: 0.85em;
}

/* .about:before{
  font-size: 1vw;
  content: "Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.Lorem ipsum is great.Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.Lorem ipsum is great.Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.Lorem ipsum is great.Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.Lorem ipsum is great.Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.Lorem ipsum is great.Truly truly great. Like wow. English to emphasise design elements over content.Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.Lorem ipsum is great.Truly truly great. Like wow. English to emphasise design elements over content.Lorem ipsum is a pseudo-Latin text used"
                          
} */

/* Modal Styling */

.modal {
  /* text-align:center;  */
  /* transform:translate(-1000,-1000); */
  background:rgba(0,0,0,0.25);
}

.modal-dialog {
  max-width:50vw;
}

.modal-content {
  border-radius:0;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
  border: none;
}
/* .modal-backdrop {
  background-color:rgba(255,255,255,0.9);
} */

.img-responsive {
  max-height: calc(100vh - 225px);
}

.modal-body{
  overflow-y: auto;
  padding-bottom: 0px;
  max-height: 75vh;
  display: flex;
  align-items: flex-start; /* default is stretch */
  justify-content: space-between; 
  position: relative;;
}

/* .modal-body p {
  text-align: left;
  max-width:75%;
} */
/* Icon Label styling */
.slider .iconLabel {
  background-color: #fbfbfb;
  margin-bottom: 10px;
  width: 100%;
  font-size: 1.25em;
  color:black;
  border: 1px solid #aaa;
  text-align: center;
  font-weight: 600;
  padding: 5px 10px;
  transition:250ms all;
  display:block;
  cursor: pointer;
  border-radius: 50px;
}
.slider.active .iconLabel:hover {
  color:white !important;
}

.slider.active .iconLabel {
  background-color:black;
  color:white;
  border:1px solid white;
}
.slider .range-label {
  margin: 0;
  font-size: 0.9em;
}
.slider input[type=range], .slider .range-label {
  opacity:0.25;
  transition:250ms all;
  pointer-events: none;
}

.slider.active input[type=range], .slider.active .range-label {
  opacity:1;
  pointer-events: initial;
  background: none;
}

.iconLabel img {
  float: right;
  vertical-align: middle; /* This doesn't do anything yet*/
}
.iconLabel input, .iconLabel label {
  float:left;
}

.iconLabel input[type=checkbox] {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height:1px; 
  width:1px; 
  margin:-1px; 
  padding:0;
  border:0;
}


.iconLabel input[type=checkbox] + label {
  padding-left:20px;
  height:15px; 
  display:inline-block;
  line-height:15px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
  transform:translate(5px, 10px);
}

.iconLabel input[type=checkbox]:checked + label {
  background-position: 0 -15px;
}

.iconLabel input[type=checkbox]:checked {
  background-position: 0 -15px;
}
.iconLabel label {
  background-image:url('../img/checkbox.jpg');
}

.btn-secondary {
  float:right;
  background:none;
  outline: none;
  border: none;
  transform: translateY(-3.1rem);
  margin-left: -100%;
}

.btn-secondary:hover {
  background:none;
}
.btn-secondary.focus, .btn-secondary:focus, .btn-secondary:active   {
  box-shadow:none;
  background:none;
}
.slider .btn-secondary .info-svg {
  fill:black;
  float:right;
  transition: 250ms all;
}
.slider.active .btn-secondary .info-svg {
  fill:white;
}
.slider .btn-secondary:hover .info-svg {
  fill:#F6A4B7;
}

.popover {
  max-width: 25%; /* Max Width of the popover (depending on the container!) */
}

.dropdown-menu {
  font-size: 10px;
  color: #fff;
  display: inline-block;
  width: 30%;
}

/* Slider styling */
.slider {
  margin-bottom: 15px;
}

/* Slider text styling */
#right {
  float: right;
}
#left {
  float: left;
}

/* Card Styling */

.background-image {
  width: 90%;
  height: 80%;
  padding: 20% 10%;
}

.item-image {
  width: calc(25% - 40px);
  padding-bottom: 9999px; 
  margin:0 0 -9999px 20px;
  float:right;
  background-size:contain;
  background-repeat:no-repeat;
}

.modal-image{
  max-width: 40%;
  padding: 15px 10px 15px 15px; 
  position: sticky;
  top: -10px;
  right: 0;
}

.item-title {
  font-size: 20px;
  font-weight: bold; 
}

a {
  font-size: 0.8em;
  color:black;
  text-decoration: none;
  transition: 250ms all;
  font-weight: bold; 
  text-decoration: underline;
}

a:hover{
  color: #F6A4B7;
  text-decoration: none;
}

.item-description {
  padding: 10px 0 0;
  font-size: 15px;
  overflow: hidden;
  position: relative;;
}
.item-description:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  content: '';
  background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
}

.item-longDescription {
  font-size: 13px;
}

.flex-item {
  margin-left: 16px;
  flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 1;
}

.flex-container {
  display: flex;
}

.flex-sort {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
}
ul.card-list {
  list-style: none;
}
.flex-card {
  height: 21.5vw;
  margin: 10px 0;
  color: white;
  text-align: center;
  perspective: 1000px;
}

.flex-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}
.flex-card:hover {
  z-index: 5;
}
.flex-card:hover .flex-card-inner {
  transform: rotateY(180deg);
}

.flex-card-front,
.flex-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: overlay; /* Adds vertical scroll within card */
}

.flex-card-front {
  background-size: cover;
  background-position: center center;
  color: black;
}

.flex-card-back {
  background-color: #ffff;
  color: black;
  transform: rotateY(180deg);
  padding: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.template {
  display: none;
}

/* If flex button is pushed */
.button-expand {
  font-size: 1em;
  width: auto;
  height: auto;
  background-color: black;
  color: white;
  cursor: pointer;
}

/* Slider Styling */

input[type="range"] {
  height: 25px;
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #6b6b6b;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #6b6b6b;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #6b6b6b;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #6b6b6b;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #6b6b6b;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #000000;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #6b6b6b;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #6b6b6b;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #6b6b6b;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #6b6b6b;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #6b6b6b;
}
#secondary {
  box-shadow: 2px 0px 10px rgba(0,0,0,0.15);
  height:100vh;
  z-index:5;
  position:sticky;
  top: 0;
  left: 0;
  background: #f5f5f5;
  overflow-y: auto;
  overflow-x: hidden;
}
#primary {
  position: relative;
}

/*Medium devices (tablets, less than 992px)*/
/* @media (max-width: 575.9px) {
  .item-title{
    font-size: 15px;
  }
  .item-description{
    font-size: 7px;
  }
  .button-expand{
    font-size: 0.6em;
  }
  .item-longDescription{
    font-size: 10px;
  }
  .title-link {
    font-size: 10px;
  }
  .modal-image{
    max-width: 35%;
  }
} */

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.9px) {
  .modal-dialog {
    max-width: 100%;
  }

  .item-title{
    font-size: 10px;
  }
  .item-description{
    font-size: 7px;
  }
  .button-expand{
    font-size: 0.3em;
  }
  .item-longDescription{
    font-size: 7px;
  }
  .title-link {
    font-size: 5px;
    padding-right: 1px;
  }
  .modal-image{
    max-width: 30%;
  }

  /* .item-description:after {
    height: 0.1em;
  } */
}

/* @media (max-width: 575.9px) { */
  #main-content {
    position: relative;
    right: calc(5 / 7 * 100% + 30px);
    width: calc(12 / 7 * 100% + 60px);
    transition: .5s ease-in-out;
  }
@media (min-width: 992px) {
#main-content {
    position: relative;
    right: calc(1 / 3 * 100% + 30px);
    width: calc(4 / 3 * 100% + 60px);
    transition: .5s ease-in-out;
  }
}
  #main-content #secondary {
    position: relative;
  }

  #main-content.sidebar-shown {
    right:0
  }
  #main-content #primary .overlay {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    display: none;
  }
  #main-content.sidebar-shown #primary .overlay {
    display: block;
  }
/* } */
/* ----- HAMBURGER ----- */
.sidebar-control {
  position: sticky;
  top: 10px;
  left: 20px;
  z-index: 10;
  border-radius: 50%;
  padding: 15px;
  display: none;
}
.sidebar-shown .sidebar-control {
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
  background: white;
}
/* @media (max-width: 575.9px) { */
  .sidebar-control {
    display: inline-block;
  }
/* } */
/* ----- From https://codepen.io/designcouch/pen/Atyop ----- */
#hamburger {
  width: 25px;
  height: 23px;
  position: relative;
  top: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2),#hamburger span:nth-child(3) {
  top: 8px;
}

#hamburger span:nth-child(4) {
  top: 16px;
}

#hamburger.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}
